os: linux
language: python
dist: xenial
jobs:
  include:
    - name: 'docs'
      python: '3.6'
      script:
        - sphinx-build -E -b html docs dist/docs
        - sphinx-build -b linkcheck docs dist/docs
    - name: '3.6 with flake8'
      python: '3.6'
      script: pytest --flake8 --cov=pysat/
    - python: '3.7'
      script: pytest --cov=pysat/
    - python: '3.8'
      script: pytest --cov=pysat/

services: xvfb
cache: pip

addons:
  apt:
    packages:
    - gfortran
    - libncurses5-dev

install:
  - sudo apt-get update
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - hash -r
  - conda config --set always_yes True --set changeps1 False
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a
  # Create conda test environment
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION
  - conda activate test-environment
  - while read requirement; do conda install --yes $requirement; done < requirements.txt
  # Get dependencies not provided by conda from pip (testing dependencies)
  - pip install -r test_requirements.txt
  # set up data directory
  - mkdir /home/travis/build/pysatData
  # install pysat
  - python setup.py install

after_success:
 - coveralls --rcfile=setup.cfg
