language: python
matrix:
  include:
    - python: 2.7
      services: xvfb
    - python: 3.7
      dist: xenial
      services: xvfb

cache: pip

addons:
  apt:
    packages:
    - gfortran
    - libncurses5-dev

before_install:
  - pip install coveralls
  - pip install future
  - pip install 'pandas<0.25' # Temporary for pysat 2.x, remove in 3.0.0
  - pip install 'xarray<0.15' # Temporary for pysat 2.x, remove in 3.0.0
  - pip install pysatCDF >/dev/null
  # Travis CI currently not working with netCDF4 1.5.3
  - pip install 'kiwisolver<1.2.0'
  - pip install 'pyparsing<2.4.7'
  - pip install 'cftime==1.1.1'
  - pip install 'netCDF4<1.5.3'

# command to install dependencies
install:
  - source activate test-environment
  # set up data directory
  - mkdir /home/travis/build/pysatData
  # install pysat
  - python setup.py install

before_script:
  # set up display screen
  - export DISPLAY=:99.0
  - if [[ $TRAVIS_PYTHON_VERSION < "3.7" ]]; then
      sh -e /etc/init.d/xvfb start;
      sleep 3;
    fi

# command to run tests
script:
 - nosetests -vs --with-coverage --cover-package=pysat

after_success:
 - coveralls
