language: python
python:
  - "2.7"
  - "3.6"
sudo: false

cache: pip
cache:
   directories:
      - ../pyglow_cache

addons:
  apt:
    packages:
    - gfortran
    - libncurses5-dev

# Setup anaconda
before_install:
  #- apt-get update
  - pip install coveralls
  - pip install future
  - pip install matplotlib
  - pip install pysatCDF >/dev/null
  # install pyglow, space science models
  - cd ..
  - echo 'cloning pyglow'
  - git clone https://github.com/timduly4/pyglow.git >/dev/null
  - echo 'installing pyglow'
  - cd ./pyglow
  - make -C src/pyglow/models source >/dev/null
  - python setup.py install >/dev/null
  - cd ..

# command to install dependencies
install:
  - source activate test-environment
  # install pysat
  - cd /home/travis/build/rstoneback/pysat
  - python setup.py install
# command to run tests
script:
 - nosetests -vs --with-coverage --cover-package=pysat
after_success:
 - coveralls
