[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pyflakes = "*"
pylint = "*"
pycodestyle = "*"


[packages]

pandas = "==0.19.2"
numpy = "<1.12"
matplotlib = "*"
"netCDF4" = "*"
pysatCDF = "*"
scipy = "*"
atlas = "*"
statsmodels = "*"
nose = "*"
coverage = "*"
"flake8" = "*"
